@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #edf6f9;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #006d77;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  color: #83c5be;
}

.logo {
	height: 250px;
}

.form__styling {
	display: flex;
	flex-direction: column;
	width: 500px;
	background-color: #83c5be;
	
}

textarea {
	height: 300px;
}

.mood__select {
	width: 100px;
}

.form__dropdown {
	width: 145px;
}

.journalEntry {
	margin-top: 10px;
	background-color: #83c5be;
	color: black;
}

.button {
	margin-top: 3px;
	margin-left: 3px;
	background-color: #e29578;
}