@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #edf6f9;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #006d77;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  color: #83c5be;
}

.logo {
	height: 250px;
}

.form__styling {
	display: flex;
	flex-direction: column;
	background-color: #83c5be;
}

.form__section {
	text-align: center
}

textarea {
	height: 300px;
}

.mood__select {
	width: 9%;
}

.form__dropdown {
	width: 40%;
}

.journalEntry {
	margin-top: 10px;
	background-color: #83c5be;
	color: black;
	border: black solid 2px;
}

.button {
	margin-top: 10px;
	margin-left: 3px;
	background-color: #e29578;
}

.formContainer {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}

.header {
	text-align: center;
}

.footer {
	margin-top: 20px;
	text-align: center;
}

#btnRecord {
	width: 40%;
    align-self: center;
    margin-top: 10px;
}

.textLabels {
	text-align: -webkit-left;
	width: 40%;
}

.journalForm {
	width: 50%
}

.disabled {
	color: grey;
}

.error {
	color: red;
}

.filters {
	width: 45%;
	
}

.btn {
	margin-left: 5px;
	margin-bottom: 10px;
}